.header__auth-email {
  margin: 0 24px 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .header__auth-email {
    margin: 0 0 18px;
  }
}